#written by Daniel Wenzlik 2021 - https://danielwenzlik.com
#Script under the GNU AGPLv3 license.

body {
  padding: 0;
  margin: 0;
  height: 100% !important;
  display: inline;
}
body .nowplayingcard {
  min-width: 386px;
  max-width: 500px;
  margin: 95px auto auto auto;
  font-family: "Arial", sans-serif;
  font-size: 13px;
  
}
body .nowplayingcard .nowplayingcontainer-inner {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: inline-block;
  background-color: #fff;
}
body .nowplayingcard .nowplayingcontainer-inner:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
body .nowplayingcard .nowplayingcontainer-inner img#trackart {
  max-width: 30%;
  float: left;
  left: 0;
}
body .nowplayingcard .nowplayingcontainer-inner .trackInfo {
  width: 70%;
  float: left;
  display: block;
}
body .nowplayingcard .nowplayingcontainer-inner .trackInfo a {
  max-width: 90%;
  display: block;
  font-size: 14px;
  text-align: left;
  text-decoration: none;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body .nowplayingcard .nowplayingcontainer-inner .trackInfo a:nth-child(odd) {
  color: black;
  font-weight: bold;
  vertical-align: middle;
  line-height: 15px;
  letter-spacing: 0.2px;
  padding: 5% 0 0 5%;
}
body .nowplayingcard .nowplayingcontainer-inner .trackInfo a:nth-child(odd) img {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin: -1% 3px 0 0;
}
body .nowplayingcard .nowplayingcontainer-inner .trackInfo a:nth-child(even) {
  color: gray;
  font-size: 12px;
  letter-spacing: 0.1px;
  padding: 5% 0 0 5%;
}
body .nowplayingcard .nowplayingcontainer-inner .trackInfo a:nth-child(even) img {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin: -0.5% 3px 0 0;
}

.table tr:nth-child(odd) {
    background-color: #fff;
}

.table tr:nth-child(even) {
    background-color: #f1f1f1;
}

.table tr {
    border-bottom: 1px solid #ddd;
}

.table th:first-child, 
.table td:first-child {
    padding-left: 16px;
}


.table td, 
.table th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
}

.table th {
    font-weight: bold;
}
 
.table {
    font-size: 13px!important;
    border: 1px solid #ccc;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
.table:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);  
}
